<h2>Create Account</h2>
  <form action="/create_user" method="post">
    <p>User name, dummy</p>
    <input type="text" placeholder="User Name" name="username">
    <p>Email</p>
    <input type="text" placeholder="Email" name="email">
    <p>Passwerd</p>
    <input type="password" placeholder="Password" name="password_hash">
    <br>
    <input type="submit" class="btn" value="enter">
  </form>
