<h2>Log In</h2>
  <form action="/login" method="post">
    <p>User name, dummy</p>
    <input type="text" placeholder="Username" name="username">
    <p>Passwerd</p>
    <input type="password" placeholder="Password" name="password_hash">
    <br>
    <input type="submit" class="btn" value="enter">
  </form>
