<div class="container">

  <div class="row">
    <h1>Welcome to J news, bitch!</h1>
    <div class="span10 offset 2">
      <ol>
      <% if @posts %>
        <%@posts.each do |post|%>
        <li><a href="<%=post.url%>"></a><%=post.title%></li><p><%=post.user.username%> | <%=post.comments.count%> comments</p>
        <% end %>
      <% end %>
      </ol>
    </div>
    
  </div>
</div>
